<nz-breadcrumb class="breadcrumb">
  <nz-breadcrumb-item>
    <a routerLink="/">首页</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    写文章
  </nz-breadcrumb-item>
</nz-breadcrumb>

<div class="content-wrap">
  <div class="container">


    <div [ngClass]="{'leftBox': true, 'leftBoxExpand': articleRightIsShrink}">
      <div class="article-box">
        <form nz-form [nzLayout]="'vertical'" [formGroup]="validateForm" class="articleForm">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="email">文章标题</nz-form-label>
            <nz-form-control nzErrorTip="The input is not valid E-mail!">
              <input nz-input formControlName="email" id="email" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired>文章内容</nz-form-label>
            <nz-form-control>
              <app-markdown-editor [markdownContent]="markdownContent" [editorConfig]="editorConfig" #markdownEditor></app-markdown-editor>
            </nz-form-control>
          </nz-form-item>
        </form>
      </div>
    </div>

    <a [ngClass]="{'expand-article-right-btn-show': articleRightIsShrink, 'expand-article-right-btn': true}" (click)="expandArticleRight()">
      <i nz-icon nzType="menu-fold" nzTheme="outline"></i>
    </a>

    <div [ngClass]="{'rightBox': true, 'rightBoxShrink': articleRightIsShrink}">
      <div class="article-header-box">
        <div class="save-btn-box">
          <button nz-button nzType="default">保存到草稿箱</button>
          <button nz-button nzType="primary">发布</button>
        </div>
        <a class="shrink-article-right-btn" (click)="shrinkArticleRight()"><i nz-icon nzType="menu-unfold" nzTheme="outline"></i></a>
      </div>
      <div class="article-box">
        <form nz-form [nzLayout]="'vertical'" [formGroup]="rightValidateForm">
          <nz-tabset>
            <nz-tab nzTitle="基础信息">

              <nz-form-item>
                <nz-form-label nzRequired nzFor="address">访问地址别名</nz-form-label>
                <nz-form-control nzErrorTip="The input is not valid E-mail!">
                  <input nz-input formControlName="address" />
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label nzRequired nzFor="address">分类</nz-form-label>
                <nz-form-control nzErrorTip="The input is not valid E-mail!">
                  <input nz-input formControlName="address" />
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label nzRequired nzFor="address">标签</nz-form-label>
                <nz-form-control nzErrorTip="The input is not valid E-mail!">
                  <input nz-input formControlName="address" />
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label nzRequired nzFor="address">文章摘要</nz-form-label>
                <nz-form-control nzErrorTip="The input is not valid E-mail!">
                  <textarea nz-input formControlName="address"></textarea>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label nzRequired nzFor="address">文章封面</nz-form-label>
                <nz-form-control nzErrorTip="The input is not valid E-mail!">
                  <textarea nz-input formControlName="address"></textarea>
                </nz-form-control>
              </nz-form-item>
            </nz-tab>
            <nz-tab nzTitle="文章SEO">
              <nz-form-item>
                <nz-form-label nzRequired nzFor="address">文章关键字</nz-form-label>
                <nz-form-control nzErrorTip="The input is not valid E-mail!">
                  <textarea nz-input formControlName="address"></textarea>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label nzRequired nzFor="address">文章描述</nz-form-label>
                <nz-form-control nzErrorTip="The input is not valid E-mail!">
                  <textarea nz-input formControlName="address"></textarea>
                </nz-form-control>
              </nz-form-item>
            </nz-tab>
            <nz-tab nzTitle="其他信息">
              <nz-form-item>
                <nz-form-label nzRequired nzFor="address">允许评论</nz-form-label>
                <nz-form-control nzErrorTip="The input is not valid E-mail!">
                  <input nz-input formControlName="address" />
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label nzRequired nzFor="address">置顶</nz-form-label>
                <nz-form-control nzErrorTip="The input is not valid E-mail!">
                  <input nz-input formControlName="address" />
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label nzRequired nzFor="address">文章标识</nz-form-label>
                <nz-form-control nzErrorTip="The input is not valid E-mail!">
                  <input nz-input formControlName="address" />
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label nzRequired nzFor="address">自定义模板</nz-form-label>
                <nz-form-control nzErrorTip="The input is not valid E-mail!">
                  <input nz-input formControlName="address" />
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label nzRequired nzFor="address">访问密码</nz-form-label>
                <nz-form-control nzErrorTip="The input is not valid E-mail!">
                  <input nz-input formControlName="address" />
                </nz-form-control>
              </nz-form-item>
            </nz-tab>
          </nz-tabset>
        </form>
      </div>
    </div>


  </div>
</div>
