<div class="container" nz-row>
  <div class="install-box" nz-col nzXs="24" nzSm="21" nzMd="18" nzLg="15" nzXl="10" nzXXl="8">
    <div class="title-box">
      <h2 class="title"><img src="/assets/imgs/logo.png" class="logo">Perfree</h2>
    </div>
    <nz-alert nzType="success" nzMessage="欢迎使用PerfreeBlog,您正在安装v3.0.0版本的PerfreeBlog" nzShowIcon></nz-alert>
    <div class="install-panel">
      <nz-steps [nzCurrent]="current" nzSize="small">
        <nz-step nzTitle="欢迎使用"></nz-step>
        <nz-step nzTitle="数据库配置"></nz-step>
        <nz-step nzTitle="管理员信息"></nz-step>
      </nz-steps>

      <nz-spin [nzSpinning]="isLoading">
        <div class="steps-content" *ngIf="current == 0">
          <h3><i nz-icon nzType="alert" nzTheme="outline"></i> 安装说明</h3>
          <blockquote>
            欢迎使用<a href="http://www.perfree.org.cn" target="_blank">PerfreeBlog</a>,在开始前,您需要知道, PerfreeBlog同时支持
            <a href="https://www.mysql.com" target="_blank">Mysql</a> 和 <a href="http://www.sqlite.org" target="_blank">sqlite</a>
            数据库, 我们默认推荐您使用mysql数据库带来更好的体验!
          </blockquote>
          <h3><i nz-icon nzType="carry-out" nzTheme="outline"></i> 准备工作</h3>
          <blockquote>
            一、 如选择Mysql数据库,则需要您提前安装好Mysql数据库,并提供以下信息:
            <br> 1. 数据库用户名
            <br> 2. 数据库密码
            <br> 3. 数据库主机地址
            <br> 4. 数据库端口号
            <br> 二、 如选择Sqlite数据库,则不需要提供任何信息
            <br> 如您已准备好以上工作,点击下方"下一步"按钮即可开始安装
          </blockquote>
          <h3><i nz-icon nzType="file-done" nzTheme="outline"></i> 许可协议</h3>
          <blockquote>
            PerfreeBlog基于GPL协议发布,我们允许用户在GPL协议许可的范围内使用,拷贝,修改和发布此程序,您可以自由的将其用于商业以及非商业用途中
          </blockquote>
          <h3><i nz-icon nzType="link" nzTheme="outline"></i> 官方地址</h3>
          <blockquote>
            1. 官网地址: <a href="http://www.perfree.org.cn" target="_blank">http://www.perfree.org.cn</a>
            <br> 2. 文档地址: <a href="http://perfree.gitee.io" target="_blank">http://perfree.gitee.io</a>
            <br> 3. 源码地址: <a href="https://github.com/perfree/PerfreeBlog" target="_blank">https://github.com/perfree/PerfreeBlog</a>
          </blockquote>

          <div class="button-box">
            <button nz-button nzType="primary" (click)="next()">
              <span>下一步</span>
            </button>
          </div>
        </div>
        <div class="steps-content" *ngIf="current == 1">
          <form nz-form [formGroup]="dataBaseValidateForm" class="install-form">
            <nz-form-item>
              <nz-form-control nzErrorTip="请选择数据库类型">
                <div class="select-box">
                  <i nz-icon nzType="database" nzTheme="outline" class="select-icon"></i>
                  <nz-select formControlName="dataBaseType" nzPlaceHolder="数据库类型" nzBorderless (ngModelChange)="changeType()">
                    <nz-option nzValue="mysql" nzLabel="mysql"></nz-option>
                    <nz-option nzValue="sqlite" nzLabel="sqlite"></nz-option>
                  </nz-select>
                </div>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item *ngIf="dataBaseType == 'mysql'">
              <nz-form-control nzErrorTip="请输入数据库地址">
                <nz-input-group nzPrefixIcon="link">
                  <input type="text" nz-input formControlName="dataBaseAddress" placeholder="数据库地址" autocomplete="on"/>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item *ngIf="dataBaseType == 'mysql'">
              <nz-form-control nzErrorTip="请输入数据库端口">
                <nz-input-group nzPrefixIcon="api">
                  <input type="text" nz-input formControlName="dataBasePort" placeholder="数据库端口"  autocomplete="on"/>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item *ngIf="dataBaseType == 'mysql'">
              <nz-form-control>
                <nz-input-group nzPrefixIcon="inbox">
                  <input type="text" nz-input formControlName="dataBaseName" placeholder="数据库名称,默认Perfree" autocomplete="on" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item *ngIf="dataBaseType == 'mysql'">
              <nz-form-control nzErrorTip="请输入数据库用户名">
                <nz-input-group nzPrefixIcon="user">
                  <input type="text" nz-input formControlName="dataBaseUserName" placeholder="数据库用户名" autocomplete="on" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item *ngIf="dataBaseType == 'mysql'">
              <nz-form-control nzErrorTip="请输入数据库密码">
                <nz-input-group nzPrefixIcon="lock">
                  <input type="password" nz-input formControlName="dataBasePassword" placeholder="数据库密码" autocomplete="on" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </form>

          <div class="button-box">
            <nz-space>
              <button nz-button nzType="default" (click)="pre()" *nzSpaceItem>
                <span>上一步</span>
              </button>
              <button nz-button nzType="primary" (click)="initDataBase()" *nzSpaceItem>
                <span>下一步</span>
              </button>
            </nz-space>
          </div>
        </div>
        <div class="steps-content" *ngIf="current == 2">
          <form nz-form [formGroup]="adminValidateForm" class="install-form">
            <nz-form-item>
              <nz-form-control nzErrorTip="请输入管理员用户名">
                <nz-input-group nzPrefixIcon="user">
                  <input type="text" nz-input formControlName="userName" placeholder="管理员用户名" autocomplete="on" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-control nzErrorTip="请输入管理员账号">
                <nz-input-group nzPrefixIcon="solution">
                  <input type="text" nz-input formControlName="account" placeholder="管理员账号" autocomplete="on" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-control nzErrorTip="请输入管理员密码">
                <nz-input-group nzPrefixIcon="lock">
                  <input type="password" nz-input formControlName="password" placeholder="管理员密码" autocomplete="on" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-control nzErrorTip="请输入邮箱">
                <nz-input-group nzPrefixIcon="mail">
                  <input type="text" nz-input formControlName="email" placeholder="邮箱地址" autocomplete="on" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </form>

          <div class="button-box">
              <button nz-button nzType="primary" (click)="initUser()" nzBlock>
                <span><i nz-icon nzType="check" nzTheme="outline"></i> 完成安装</span>
              </button>
          </div>
        </div>
      </nz-spin>
    </div>
  </div>
</div>
