.logo {
  height: 32px;
  margin: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.logo-text{
  font-size: 20px;
  color: white;
  margin-left: 8px;
}

nz-content {
}
.layout{
  min-height: 100%;
}
.inner-content {
  min-height: 100%;
}

nz-footer {
  text-align: center;
}
.p-content{
  min-height: calc(100% - 64px)!important;
}
.p-content .inner-content{
  height: 100%;
}
nz-sider {
  overflow: auto;
  height: 100%;
  position: fixed;
  left: 0;
  z-index: 999;
  transition: all .3s;
}
.right-layout{
  margin-left: 220px;
  transition: all .3s;
}
.right-layout-shrink{
  margin-left: 220px;
}
.right-layout-expand{
  margin-left: 80px;
}
