.logo {
  height: 32px;
  margin: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.logo-text{
  font-size: 20px;
  color: white;
  margin-left: 8px;
}

nz-content {
  margin: 16px 16px;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 100%;
}

nz-footer {
  text-align: center;
}
.layout{
  height: 100%;
}
