.logo {
  height: 32px;
  margin: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.logo-text{
  font-size: 20px;
  color: white;
  margin-left: 8px;
}

nz-content {
}

.inner-content {
  min-height: 100%;
}

nz-footer {
  text-align: center;
}
.layout{
  height: 100%;
}
.p-content{
  min-height: calc(100% - 64px)!important;
}
.p-content .inner-content{
  height: 100%;
}
