/* You can add global styles to this file, and also import other style files */
.breadcrumb{
  background: white;
  padding: 10px 20px;
}
.content-wrap{
  width: 100%;
  padding: 15px 15px;
  height: calc(100% - 42px);
}
